html, body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

.relogio{
    height: 100vh; /*100vh para ocupar 100% da tela*/
    display: flex; /*um item ao lado do outro*/
    flex-direction: column; /*item um abaixo do outro*/
    align-items: center; /*alinhar itens no meio*/
    justify-content: center; /*deixar no meio da tela*/

}

.display {
    background-color: #2c2e43;
    width: 300px;
    height: 200px;
    text-align: center; /*centralizar texto*/
    line-height: 200px; /*alinhar conteúdo no centro usando mesma altura da div*/
    border-radius: 10px;
    color: white;
    font-size: 7rem; /*tamanho da fonte*/
    border: 10px solid #f3ef1d;
    font-family: 'Qahiri', sans-serif;
}

.footer{
    font-size: 1.2rem;
    margin-top: 10px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}